.board {
  display: grid;
  grid-template-columns: repeat(var(--sizeX), minmax(24px, 1fr));
  grid-template-rows: repeat(var(--sizeY), minmax(24px, 1fr));
  gap: 1px;
  padding: 8px;
  background-color: #999;
  border-radius: 0 0 4px 4px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 1000px) {
    max-width: calc(100vw - 16px);
  }

  @media (min-width: 768px) {
    gap: 2px;
    padding: 10px;
  }
}